<!--Main Navigation-->
<header>

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <!-- <logo>
          <a class="logo navbar-brand waves-light" mdbRippleRadius href="#"><strong>Sheena & Mark</strong></a>
      </logo>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbRippleRadius>
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbRippleRadius>
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item waves-light" mdbRippleRadius>
                  <a class="nav-link" href="#">Admin</a>
              </li>
          </ul>
          <form class="form-inline waves-light" mdbRippleRadius>
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </form>
      </links> -->
  </mdb-navbar>

  <!-- Intro Section -->
  <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/wedding-background.jpg);">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="row pt-5 mt-3">
          <div class="col-md-12">
            <div class="text-center">
              <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Sheena & Mark</strong></h1>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>20th & 21st April 2018</strong></h5>
              <h3 class="h3-reponsive white-text font-up mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>SAVE THE DATE</strong></h3>
              <!-- <a class="btn btn-outline-white wow fadeInDown waves-light" data-wow-delay="0.4s" mdbRippleRadius>SAVE THE DATE</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->