<!-- <div fxLayout="column" fxLayoutAlign="center center" class="container">
  <h1 @titleAnimation>Sheena &amp; Mark</h1>
  <h2 @subtitleAnimation>Coming soon...</h2>
</div> -->

<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <h1 @titleAnimation>Sheena &amp; Mark</h1>
  <h2>20th &amp; 21st April 2018</h2>
  <div fxLayout="row">
    <div fxLayout="column" fxFlexFill>
      <a *ngFor="let route of routes" routerLink="/{{route.routerLink}}">{{route.label}}</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>