h1 {
    font-size: 65px;
    color: #C0B283;
}

h2 {
    font-size: 50px;
    font-weight: normal;
    color: #591E23;
}

a {
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #C0B283;
}

.container {
    height: 100%;
    background-color: #F4F4F4;
}