<agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" [style.height]="'300px'">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

<p>Parklands
  <br>Quendon Hall
  <br>Quendon
  <br>Essex
  <br>CB11 3XN
</p>

<img src="assets/parklands.jpg" alt="Parklands">

<p><a href="http://www.quendonhall.co.uk" target="_blank">www.quendonhall.co.uk</a></p>

<p>
  <strong>By road</strong>
</p>

<p>Parklands is located north of Bishop’s Stortford. If travelling on the A120, exit at the roundabout signposted B1383 Newport.
  Then take directions via Stansted Mountfitchet above.</p>

<p>
  <strong>By train</strong>
</p>

<p>Newport is the nearest station to Parklands, Quendon Hall, about 2 miles away, from where a taxi will take about 5 minutes
  to reach the venue. The station is on the London (Liverpool Street) to Cambridge line.</p>

<p>
  <strong>By air</strong>
</p>

<p>Parklands is about 15 minutes from Stansted airport</p>