<p>Parklands</p>
<p>Quendon Hall</p>
<p>Quendon</p>
<p>Essex</p>
<p>CB11 3XN</p>

<p>www.quendonhall.co.uk</p>

<p><strong>By road</strong></p>

<p>We are located north of Bishop’s Stortford. If travelling on the A120, exit at the roundabout signposted B1383 Newport. Then
  take directions via Stansted Mountfitchet above.</p>

<p><strong>By train</strong></p>

<p>Newport is the nearest station to Parklands, Quendon Hall, about 2 miles away, from where a taxi will take about 5 minutes
  to reach the venue. The station is on the London (Liverpool Street) to Cambridge line.</p>

<p><strong>By air</strong></p>

<p>We are about 15 minutes from Stansted airport</p>