<section class="section text-center mb-5">
  <h2 class="font-bold py-3 mb-3 mt-3">Sagai</h2>

  <div class="card card-cascade wider map-card">
    <div class="view overlay hm-white-slight">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" [style.height]="'300px'">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>

    <div class="card-body text-center">
      <h4 class="card-title">
        <strong>Saturday 20th January 2018</strong>
      </h4>
      <h5 class="indigo-text">
        <strong>Kanchans Banqueting Suite</strong>
      </h5>
      <p class="card-text">53-55 Perth Road
        <br>Gants Hill
        <br>Ilford IG2 6BX</p>

      <p class="card-text">11am - 3pm</p>

      <p class="card-text">Parking available at
        <a href="https://en.parkopedia.co.uk/parking/near/gants-hill-library/" target="_blank">Gants Hill Library</a>
      </p>
    </div>
  </div>
  <br/>
</section>