/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Tangerine', cursive;
    height: calc(100vh - 16px);
}

.main {
    font-family: 'Raleway', sans-serif;    
}
